bin/
target/
test-output/
.idea/
.gradle/
.settings/
.apt_generated/
.apt_generated_tests/
.DS_Store
.classpath
.project
*.jscsrc
*.jshintrc
*.json
*.iml
*.ast
.pom.xml.swp
WebContent/WEB-INF/classes/
WebContent/WEB-INF/lib/
